<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/nav') %>
    <div class="container">
        <div class="row">
          <form class="col-5" action="/admin/addCard" method="post">
            <div class="mb-3">
              <lable class="form-label">Title : </lable>
              <input type="text" class="form-control border-dark" name="title" />
            </div>  
            <div class="mb-3">
              <lable class="form-label">Description : </lable>
              <input type="text" class="form-control border-dark" name="desc" />
            </div>
            <div class="mb-3">
              <lable class="form-label">Image : </lable>
              <input type="text" class="form-control border-dark" name="image" />
            </div>
            <div class="mb-3">
              <lable class="form-label">Price : </lable>
              <input type="text" class="form-control border-dark" name="price" />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-dark">Add Product</button>
            </div>
          </form>
        </div>
      </div>


</body>
</html>